                         ===========
                   Code Jam Test Source files
                         ===========
Main source file   : $sourceFile
Programing Language: Java        
JRE version        : $jreVersion
Creator            : quanla2003@gmail.com

This zip file contains source files required to build the test application.
Not all source files are here, project "quan-util-core" is needed if you want to build

If you are viewing the source files with Eclipse, then there will be 2 projects
with project "codejam" depends on project "quan-util-core".

Project "quan-util-core" is publicly available at:
https://qj-core.googlecode.com/svn/trunk/quan-util-core